@charset "UTF-8";
body {
  background-color: #FFFFFF;
  color: #212121;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  border: 1px solid transparent;
}

a {
  text-decoration: none;
  color: currentColor;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.dot {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*----------Header-------*/
.header-logo {
  display: block;
  font-family: "Raleway";
  font-weight: 700;
  /*font-size: 26px;
  line-height: 1.20;*/
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
  /*margin-right: 93px;*/
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.2;
  }
}

.header-logo-studio {
  color: black;
}

.header-studio {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-studio:active, .header-studio:hover, .header-studio:focus {
  color: #2196F3;
}

.current {
  position: relative;
  color: #2196f3;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .current {
    display: block;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .header .container {
    height: 80px;
  }
}
@media screen and (max-width: 1199px) {
  .header .container {
    justify-content: space-between;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu {
    display: block;
    display: flex;
    justify-content: space-around;
  }
}

.menu-item {
  margin-right: 50px;
}
.menu-item:nth-child(3n) {
  margin-right: 0;
}

.title {
  display: flex;
  align-items: center;
}

.quality {
  margin-right: 30px;
}

.quality:nth-child(4n) {
  margin-right: 0;
}

.contacts-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
  }
}

/*---------SVG-post-logo----*/
.header-post-icon,
.header-tel-icon {
  align-self: center;
  margin-right: 10px;
  fill: currentColor;
}
.header-post-icon:hover, .header-post-icon:focus,
.header-tel-icon:hover,
.header-tel-icon:focus {
  color: #2196F3;
}
.header-post-icon:hover,
.header-tel-icon:hover {
  color: #2196F3;
}

.header-portfolio-contacts {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-portfolio-contacts:hover, .header-portfolio-contacts:focus, .header-portfolio-contacts:active {
  color: #2196F3;
}

.header-portfolio-contacts.current {
  color: #2196f3;
}

.header-item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .header-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.contacs-link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  /*padding-top:32px;
  padding-bottom:32px;*/
  display: flex;
  align-items: center;
}
.contacs-link:hover, .contacs-link:focus {
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .contacs-link {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .contacs-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

/*--------Main---------*/
.main-section-service {
  background: #2F303A;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/Hero-mobile-1x-480-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main-section-service {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .main-section-service {
    max-width: 1600px;
    max-height: 600px;
    padding: 200px 0;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-section-service {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/Hero-mobile-2x-480-min.jpg);
  }
}
@media screen and (min-width: 768px) {
  .main-section-service {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/Hero-tablet-1x-768-min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-section-service {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/Hero-tablet-2x-768-min.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main-section-service {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/dekstop/Hero-dekstop-1x-1600-min.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section-service {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/dekstop/Hero-dekstop-2x-1600-min.jpg);
  }
}
.qualities {
  padding-bottom: 94px;
}

.qualities__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.main-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
  }
}

.qualitys__title {
  display: flex;
  flex-wrap: wrap;
}

.quality {
  max-width: 450px;
  margin: 0 0 30px 0;
}
@media screen and (max-width: 767px) {
  .quality:last-child {
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .quality {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .quality {
    width: calc((100% - 120px) / 4);
  }
}

.main-button-service {
  cursor: pointer;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: #FFFFFF;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  min-width: 200px;
}
.main-button-service:hover, .main-button-service:focus, .main-button-service:active {
  background-color: #188CE8;
}

.qualities__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 768px) {
  .qualities__title {
    text-align: left;
  }
}

.qualities__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/*----------Action-section-------*/
.work__list {
  display: flex;
  justify-content: space-between;
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.work__box {
  position: relative;
}

.work__tab {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.work__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*----------Out-team-section-------*/
/*----Иконки-соц-сетей------*/
.soc-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.team-soc-link {
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
}
.team-soc-link:hover, .team-soc-link:focus {
  background-color: #2196F3;
  color: #ffffff;
}

.team-soc-icon {
  fill: currentColor;
}

.our-team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team {
  background: #F5F4FA;
}

@media screen and (min-width: 768px) {
  .our-team__list {
    display: flex;
    flex-wrap: wrap;
    margin: 15px -15px -15px -15px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__list {
    margin: 35px -15px -15px -15px;
  }
}

.photo-boxes {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  max-width: 450px;
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  .photo-boxes:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .photo-boxes {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .photo-boxes {
    width: calc((100% - 120px) / 4);
  }
}

.our-team__text {
  padding: 30px 5px;
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

/*---clients-section-*/
.clients-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: 15px -15px -15px -15px;
}
@media screen and (min-width: 1200px) {
  .clients-list {
    margin: 35px -15px -15px -15px;
  }
}

.clients-item {
  width: 170px;
  height: 92px;
  margin: 15px;
  width: calc((100% - 60px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-item {
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-link {
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
}
.clients-link:hover, .clients-link:focus {
  color: #2196F3;
  border-color: #2196F3;
}

.clients-icon {
  fill: currentColor;
}

/*-------Footer------------*/
.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.footer_wrapper {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer_wrapper {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer-logos {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  /*font-size: 26px;
  line-height: 1.20;*/
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
  /*margin-right: 93px;*/
}

.footer-logo {
  color: white;
}

.details {
  margin-bottom: 20px;
  display: inline-block;
}

.footer-adress {
  margin-bottom: 9px;
}

.foot-ad {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}
.foot-ad:hover, .foot-ad:focus {
  color: #2196F3;
}

.contacts {
  justify-content: flex-end;
}

.footer-contacts {
  margin-bottom: 9px;
}

.foot-cont {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.foot-cont:hover, .foot-cont:focus {
  color: #2196F3;
}

.footer-contacts:nth-child(3n) {
  margin-bottom: 0;
}

/*-------Соц сети футер------*/
.footer-soc {
  margin-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    text-align: left;
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-soc-list {
  display: flex;
  justify-content: center;
}

.footer-soc-title {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.footer-soc-item:nth-child(1) {
  margin-left: 0;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-soc-link {
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #FFFFFF;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: #2196F3;
}

.footer-soc-icon {
  fill: currentColor;
}

/*----------Подпишитесь на рассылку--------------*/
.footer-mailing-list {
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .footer-mailing-list {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-mailing-list {
    text-align: left;
    margin-left: 93px;
    margin-bottom: 0;
  }
}

.mailing-text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .mailing-form {
    display: flex;
    align-items: center;
  }
}

.mailing-input {
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.mailing-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .mailing-input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.mailing-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.telegram-icon {
  margin-left: 10px;
  fill: white;
}

/*---------Модалка---------*/
.backdrop {
  transition-property: opacity, visibility;
  transition-duration: 450ms;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px 94px 15px;
}

.modal {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*------------Модалка формы--------*/
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form {
  position: relative;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 36px;
  margin-top: 4px;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #2196f3;
}

.input-icons {
  position: absolute;
  left: 15px;
  bottom: 14px;
}
.form-input:focus + .input-icons {
  fill: #2196f3;
}

.modal-area {
  margin-bottom: 20px;
}

.modal-text-area {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  box-sizing: border-box;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  resize: none;
  outline: transparent;
}
.modal-text-area:focus {
  border: 1px solid #2196f3;
}
.modal-text-area::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

/*------------Checkbox--------*/
.check-text {
  justify-content: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 24px;
  }
}

.check-text a {
  color: #2196F3;
}

/*--------1вариант----------*
   .check-text::before {
    content: "";
    width: 16px;
    height: 15px;
    background: #212121;
    border-radius: 2px;
    margin-right: 5px;
   }

   .input-check:checked + .check-text::before {
    background-color: #212121;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
   }




/*----------2 вариант----------*/
.check-text span {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-check:checked + .check-text span {
  background-color: #2196F3;
}

.check-icons {
  fill: transparent;
}

/*--------Кнопка---------*/
.send-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  margin-top: 30px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
}

.scroll {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .scroll {
    margin-top: -15px;
  }
}
@media screen and (min-width: 768px) {
  .scroll {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .scroll {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .scroll {
    margin-bottom: 50px;
  }
}

.scroll__item {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .scroll__item {
    margin-top: 15px;
  }
}
@media screen and (min-width: 768px) {
  .scroll__item:last-child {
    margin-right: 0;
  }
}

.button {
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  margin-right: 8px;
}
.button:hover, .button:focus, .button:active {
  background-color: #2196F3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*------------Projects--------*/
.boxes-of-examples {
  margin: 15px;
  max-width: 450px;
}
@media screen and (max-width: 767px) {
  .boxes-of-examples {
    margin-bottom: 30px;
  }
  .boxes-of-examples:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) and (min-width: 768px) {
  .boxes-of-examples {
    margin: 15px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 767px) and (min-width: 1200px) {
  .boxes-of-examples {
    width: calc((100% - 90px) / 3);
  }
}

.overlay {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.resurs {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 77px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}
.porfolio-link:hover .resurs, .porfolio-link:focus .resurs {
  transform: translateY(0);
}

.porfolio-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.porfolio-link:hover, .porfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .potfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-border {
  border: 1px solid #EEEEEE;
  border-style: none solid solid solid;
  padding: 24px 20px;
}

.title-service {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.title-applications {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu-open-btn {
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
}
.menu-open-btn:hover, .menu-open-btn:focus {
  fill: #2196f3;
}
.menu-open-btn {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.close-open-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
}
.close-open-btn:hover, .close-open-btn:focus {
  fill: #2196f3;
}

.mob-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mobmenu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .mobmenu-container {
    max-width: 480px;
  }
}

.mob-menu-list {
  margin-left: 40px;
  margin-right: 40px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu-link:hover, .mob-menu-link:focus {
  color: #2196f3;
}
.mob-menu-link.active {
  color: #2196f3;
}

.mob-contacts-list {
  margin-left: 40px;
}

.mob-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-post {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-soc-item:not(:first-child) {
  margin-left: 10px;
}

.menu-soc-item:not(:last-child)::after {
  content: "";
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}

.menu-soc-list {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-left: 40px;
}

.menu-soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */